.footer-container{
    padding: 20px;
    background-color: rgb(19, 10, 57);
    color: whitesmoke;
}
.site-maping{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-texts{
    max-width: 1000px;
    margin: 0 auto;
}

.site-links{
    display: flex;
    flex-direction: column;
}

.link{
    color: white;
    text-decoration: none;
}

.f-btn{
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
}