.pressCard{
    width: 500px;
    background-color: rgb(227, 234, 167);
    margin: 15px;
    padding: 25px;
    border-radius: 10px;
    height:270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pressCard-row2{
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-top: 30px;
}

.pressCard-img{
    width: 90px;
    height: 90px;
    margin: auto 0;
    padding-right: 20px;
}

q{
    font-size: 20px;
    font-weight: 450;
}